/*  Main CSS  */

.rahmen {
	border:5px solid;
	border-radius:10px;
	margin-left:20%;
	margin-top:20px;
	width:60%;
	padding: 20px 20px 1px 20px;

}

.logo {
/*	max-height: 150px;
	max-width: 150px;*/
	width: 70px;
	height: 70px;
}

